.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;

    height: 150px;
    width: 250px;
    border-radius: 5px;

    background: #FFFFFFDD;
}

body {
    background-image: linear-gradient(to bottom right, #FFF 0 48%, #ED254E 48% 52%, #011936 52% 100%);
}