/* 
    Light Background: #FCFBFB; White
    Main color: #011936; Oxford Blue
    Accent #1: #ED254E; Red Crayola
    Detail: #2274A5; Star Command Blue | #4A7B9D; Steel Blue
    Accent #2: #E6AF2E; Goldenrod
    http://colormind.io/bootstrap/
*/

body {
    background-color: #FCFBFB;
    padding: 20px;
    margin: 0;
}

p {
    color: #011936;
}

.navbar {
    display: flex;
    overflow: hidden;
    text-align: center;
    align-items: center;
    justify-content: center;

    background-color: #011936;
    position: sticky;
    top: 0;

    padding: 10px;
    height: 35px;
    border-radius: 5px;
}

a.navbarItem {
    color: #FCFBFB;
    text-decoration: none;
    border-radius: 0;
    padding: 7px 10px;
}

a.hover {
    color: #FCFBFB;
    background-color: rgba(255, 255, 255, 0.2);
    text-decoration: none;
    border-radius: 5px;
}

a.selector {
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 5px;
}

a.active {
    color: #ED254E;
    text-decoration: none;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    width: 100%;
}

.content {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    width: 100%;
}

.content-left {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.content-left-top {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.content-left-bottom {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.content-right {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.content-right-top {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.content-right-bottom {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
}