/* 
    Background: #FFF; White
    Accent #1: #011936; Oxford Blue
    Accent #2: #ED254E; Red Crayola
*/

/* General stylization */

*{
    -moz-box-sizing:border-box;
    box-sizing:border-box;
  }

::-webkit-scrollbar {
    width: 5px;
    height: 5px;
    background-color: white;
    border-radius: 5px;
}

::-webkit-scrollbar-thumb {
    background-color: #011936;
    border-radius: 5px;
}

html {
    height: 100%;
    width: 100%;
}

body {
    position: relative;
    margin: 0;
    padding: 0;
    padding-bottom: 50px;
    min-height: 100%;
    overflow-x: hidden;
    color: #011936;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/* Navbar Code */

.navbar {
    display: flex;
    flex-direction: row;
    overflow: hidden;
    align-items: center;

    background-color: #FFF;
    position: sticky;
    top: 0;

    transition: height .3s ease-in-out;

    padding: 10px;
    height: 50px;
    border-bottom: 1px solid #011936;
    z-index: 100;
}

.navbarOpen {
    height: 220px;
}

.menuItems {
    list-style: none;
    display: inline;
}

.menuItems li {
    display: inline;
}

.leftNav {
    width: 50%;
    padding-left: 15px;
}

.rightNav {
    width: 50%;
    text-align: right;
}

div.logo {
    position: relative;
    display: flex;
}

a.logo {
    font-size: 20px;
    font-weight: bold;
    color: #011936;
    text-decoration: none;
}

a.navbarItem {
    color: #011936;
    text-decoration: none;
    border-radius: 0;
    padding: 7px 10px;
}

a.selector {
    background-color: #00000010;
    border-radius: 5px;
}

a.active {
    color: #ED254E;
    text-decoration: none;
}

.menu {
    display: none;
}

@media screen and (min-width: 768px) {
    .navbarOpen
    {
        height: 50px;
    }
}

@media screen and (max-width: 767px) {
    .navbar {
        align-items: unset;
        flex-direction: column;
    }
    .leftNav {
        margin-top: 1.5px;
        width: 50%;
    }
    .rightNav {
        width: 100%;
        text-align: right;
    }
    .menuItems li{
        display: block;
        margin-top: 15px;
    }
    
    .menu {
        position: absolute;
        top: 3.5px;
        right: 10px;
        background-color: transparent;
        border: none;
        cursor: pointer;
        display: flex;
        padding: 0;
      }
      .line {
        fill: none;
        stroke: black;
        stroke-width: 6;
        transition: stroke-dasharray 600ms cubic-bezier(0.4, 0, 0.2, 1),
          stroke-dashoffset 600ms cubic-bezier(0.4, 0, 0.2, 1);
      }
      .line1 {
        stroke-dasharray: 60 207;
        stroke-width: 6;
      }
      .line2 {
        stroke-dasharray: 60 60;
        stroke-width: 6;
      }
      .line3 {
        stroke-dasharray: 60 207;
        stroke-width: 6;
      }
      .opened .line1 {
        stroke-dasharray: 90 207;
        stroke-dashoffset: -134;
        stroke-width: 6;
      }
      .opened .line2 {
        stroke-dasharray: 1 60;
        stroke-dashoffset: -30;
        stroke-width: 6;
      }
      .opened .line3 {
        stroke-dasharray: 90 207;
        stroke-dashoffset: -134;
        stroke-width: 6;
      }
      

}

/* Footer */

#footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    background-color: #FFF;
    position: absolute; 
    bottom: 0;
    right: 0;
    left: 0;

    padding: 10px;
    height: 50px;
    border-top: 1px solid #011936;
    
    z-index: 95;
}